.about {
    margin: 0 80px 0 80px;
}

p {
    font-size: 20px;
}

.icon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-evenly;
}

.favicon {
    font-size: 5em;
}