.portfolio-images {
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.portfolio-images > a > .project-image {
    width: 350px;
    height: 200px;
    padding: 24px 24px 24px 0;
}
