.header {
    width: 100%;
}

.header-item {
    text-decoration: none;
    color: black;
    /* float: right; */
}

.header-nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;      
    margin-left: 780px; 
    /* float: right; */
}

#header-hero {
    text-decoration: none;
    color: black;
    float: left;
    margin-left: 60px;
}

nav li {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    padding: 20px;    
}


.header-item:hover {
    text-decoration: underline;
    color: black;
}