.header {
    width: 100%;
}

h1 {
    text-decoration: none;
}

.header-nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;       
    margin: 0 auto;    
    /* margin-top: 46px; */
}

nav li {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    padding: 20px;
}
